@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    cursor: url(/hubert-loves-mice.png), pointer;
}

.🐡 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.the-hub {
    cursor: url(/hubert-love.png), pointer;
}
